<nav class="main-nav navbar navbar-expand-sm bg-dark">
    <h1> {{ title }} </h1>
    <p> {{ tagline }}</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add
        Quote</button>

</nav>
<!-- *ngFor = "let quote of quotes" -->

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-4" *ngFor="let quote of quotes ; let i = index">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text" appHighligth *ngIf='i == mostUpVotedIndex()' > <i class="fas fa-quote-left"></i> {{ quote.text }} <i class="fas fa-quote-right"></i> </p>
                        <p class="card-text"  *ngIf='i != mostUpVotedIndex()' > <i class="fas fa-quote-left"></i> {{ quote.text }} <i class="fas fa-quote-right"></i> </p>


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-success"
                                    (click)='toggleDetails(i)' >DETAILS</button>
                                <button type="button" class="btn btn-sm btn-outline-danger"
                                    (click)='deleteQuote(i);'>DELETE</button>
                            </div>
                            <small class="text-muted">{{quote.datePosted | dateCount }}</small>
                        </div>
                        <hr>
                        <app-quote-details *ngIf='quote.showDescription' [quote]="quote"
                            (upVoteClicked)="upVoteQuote(i)" (downVoteClicked)="downVoteQuote(i)"></app-quote-details>

                    </div>
                </div>
            </div>

            
        </div>

    </div>
</div>


<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>