<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ADD QUOTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input [(ngModel)]="newQuote.postedBy" name="name" #name="ngModel" required type="text"
                            class="form-control" id="usr">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            <p>Please input your name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quote">Quote:</label>
                        <textarea [(ngModel)]="newQuote.text" name="text" #text ="ngModel" required class="form-control" rows="5"
                            id="quote"></textarea>
                            <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                                    <p>Please input a Quote</p>
                                </div>

                    </div>
                    <div class="form-group">
                        <label for="by">Author:</label>
                        <input [(ngModel)]="newQuote.author" name="author" #author ="ngModel" required type="text" class="form-control" id="by">
                        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                                <p>Please input the author's name</p>
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>